@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

body {
    margin: 0;
    color: #1D1D1D;
    background-color: #F8F8F7;
    font-family: 'Jost', sans-serif;
}

/* Layout */
.container {
    width: 95%;
    float: right;
    display: flex;
}

.left-part {
    width: 45%;
}

.right-part {
    width: 55%;
    height: 750px;
    text-align: right;
}

.menu-cards {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.card {
    width:8rem;
    text-align: center;
}

/* Card styles */
.card-image-style {
    border-radius: 20px;
    height: 12rem;
}

.category-btn {
    padding: .6rem;
    color: #FF868E;
    background-color: #fff;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 10px;
}

.grey-blue {
    background-color: #B4B7FF;
}

.light-blue {
    background-color: #97EAB9;
}

.orange {
    background-color: #FFD280;
}

/* Images styling */
.right-part img {
    max-width: 100%;
    height: 750px;
}

.background-rectangle {
    position: relative;
    display: inline-block;
}

.background-rectangle:after {
    content: '';
    position: absolute;
    right: 3rem;
    top: 2rem;
    background-color: #FBE0DC;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    z-index: -1;
}

/* Text styling */
.heading h1 {
    margin: 0;
    font-size: 3rem;
}

.heading p {
    margin: 0;
    color: #8C8C8C;
    font-size: 1.3rem;
}

/* Margins & paddings */
.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
 margin-top: 3rem;
}

.mt4 {
    margin-top: 4rem;
}

.mt5 {
    margin-top: 5rem;
}

.pt1 {
    padding-top: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt3 {
    padding-top: 3rem;
}
